@font-face {
    font-family: "RetroFont";
    src: url("assets/fonts/Mx437_ToshibaSat_8x8.woff2") format("woff2");
}

body {
    margin: 0;
    background: black;
    overflow: hidden;
}

#game-container {
    position: relative;
    width: 100vw;
    height: 100vh;
}

canvas { position: absolute; }

#background { z-index: 0; }
#board { 
    z-index: 1; 
    pointer-events: none;}
#overlay { 
    z-index: 2;
    pointer-events: none; 
}
